html {
	font-family: "Lucida Grande","Calibri","Arial","Verdana","Geneva",sans-serif;
	background-image: url("resume.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-attachment: fixed;
}
body {
	background-color:rgba(225,231,235,0.96);
	width: 935px;
	margin: 3px auto;
	border-width: 5px;
	border-style: outset;
	border-radius: 15px;
	border-color: rgba(77,88,99,0.75);
}

#container {
	margin: 1em 1em 1em 1em;
}

a:link {
	text-decoration: underline;
	color: 	#3A5FCD;
	font-weight: bold;
}

a:visited {
	text-decoration: underline;
	color: #1E90FF;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: #EE2C2C;
	font-weight: bold;
}

a:active {
	text-decoration: underline;
	color: #CD2626;
	font-weight: bold;
}

#footer a	{
	color: #000000;
}

#footer a:visited{
	color: #458B00;
}

#footer a:hover	{
	color: #EE2C2C;
}

#footer	.credits {
	margin: 20px 0px 10px 10px;
	font-size: 15px;
	text-align: center;
}

#footer	.credits a	{
	font-weight: normal;
}